## Mac OSX ##
.DS_Store

## NPM ##
node_modules/

## BOWER ##
compiled/bower_components/

## Compiled files ##
compiled/client

## API keys ##
client/config/config.js
compiled/client/config/config.js

## MongoDB path ##
data/