## Mac OSX ##
.DS_Store

## NPM ##
node_modules/
bower_components/
npm-debug.log

## Compiled files ##
compiled/client
compiled/node_modules


## API keys ##
client/config/config.js
server/config/config.js
compiled/client/config/config.js
server/config/config.js

## MongoDB path ##
data/