## Mac OSX ##
.DS_Store

## NPM ##
node_modules/

## Compiled files ##
compiled/client
compiled/bower_components

## API keys ##
client/config/config.js
compiled/client/config/config.js
server/config

## MongoDB path ##
data/